/*

    Palette de couleur :



*/


/*--------------- - - -  Début du code CSS - - - ---------------*/



/*------------------------------------------------------------ - - 
----------- - - -  Eléments principaux de la page - - - ----------
- - ------------------------------------------------------------*/

* /* Sélectionne tous les éléments de la page */
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
}

#blocPage /* Toute la page HTML */
{
    padding: 0;
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

.ancre
{
    position: relative;
    top: -120px; 
}



/*------------------------------------ - - 
----------- - - -  Navbar - - - ----------
- - ------------------------------------*/

#navBar
    {
        position: fixed;
        width: 100%;
        z-index: 100000;
    }

    #nav /* Id re-créer en JS */
        {
            box-shadow: 0px 3px 20px -3px black;
            padding: .5rem 8rem;
            background-color: #121217f2!important;
        }

        #navTitre
            {
                font-family: 'walkway_oblique_ultraboldRg', sans-serif;
                font-size: 20px;
                color: #d8d8d8;
                letter-spacing: 1px;
                margin-left: 8%;
            }

        .mr-auto, .mx-auto /* Container ul du Menu */
            {
                margin-left: 60%;
            }

        #menuDropDownNav
            {
                border: none;
                margin: 10% -252px 0;
                    width: 330px;
            }
            #menuDropDownNav a
                {
                    
                }
                #menuDropDownNav a:hover
                    {
                        
                    }



/*--------------------------------------- - - 
----------- - - -  Le Slider - - - ----------
- - ---------------------------------------*/

#slider /* Section */
    {
        height: auto;
        width: 100%;
    }

    #slideshow /* Slider */
        {
            position: relative;
            display: flex; /* Je place les figures de gauche à droite dans ce contenair */ 
            width: 200%; /* Contient 2 figures qui font 100% de l'écran chacune */
            animation: 18s glissement infinite;
        }
        @keyframes glissement
            {   
                /* De 0% à 36% : l'animation montre 100% de la figure de gauche */
                /* De 36% à 46% : vitesse de G vers D */ 
                /* De 46% à 72% : l'animation montre 100% de la figure de droite */
                /* De 72% à 88% : vitesse de D vers G */ 

                0%, 10%, 12%, 22%, 24%, 34%, 36%, 88%, 90% {left: 0%} /* Image de gauche (88% note le retour) */
                46%, 48%, 58%, 60%, 70%, 72% {left: -100%} /* Image de droite (on déplace la figure de gauche à 100% sur la gauche) */  

                /* Les % entre les valeurs dites plus haut fluidifient l'animation */     
            }

        #slideshow figure /* Slides */
            {
                width: 100%;
                margin: 0;
            }
            #slideshow .slideshowImg /* Images sur Slides */
                {
                    width: 100%;
                }
            #slideshow figcaption /* Textes sur Slides */
                {
                    position: absolute;
                    top: 15%;
                    margin: auto;
                    width: 50%;
                }
                #slideshow figcaption h2
                    {
                        text-align: center;
                        font-size: 50px;
                        color: white;
                        margin-top: 1%;
                        font-family: 'robotomedium', sans-serif;
                        letter-spacing: 5px;
                    }
                #slideshow figcaption p
                    {
                        text-align: center;
                        font-size: 17px;
                        color: black;
                        font-family: 'walkway_oblique_boldregular', sans-serif;
                        letter-spacing: 4px;
                    }

                #slide2 figcaption p
                    {
                        letter-spacing: 2px;
                        width: 50%;
                        margin: auto;
                        background: #000000c7;
                        color: #c7c7c7;
                        padding: 1%;
                        border: 5px solid white;
                        border-radius: 20px;
                        margin-top: 2%;
                    }
                #slide2 figcaption h4
                    {
                        font-family: 'robotoregular', sans-serif;
                        font-style: italic;
                        font-size: 21px;
                        color: white;
                        width: 50%;
                        margin: auto;
                        text-align: center;
                        margin-top: 2%;
                    }
                #slide2 figcaption button
                    {
                        font-family: 'robotomedium', sans-serif;
                        font-size: 17px;
                        background: #3d92bb;
                        color: white;
                        width: 12%;
                        margin: auto;
                        margin-top: 1%;
                        display: block;
                        padding: 0.5%;
                        border: 3px solid white;
                        border-radius: 5px;
                        cursor: pointer;
                        box-shadow: 14px 14px 20px -18px black;
                        transition: all 0.3s ease-out;
                    }
                    #slide2 figcaption button:hover
                        {
                            background: #000000c7;
                            box-shadow: -14px 14px 20px -18px black;
                        }
                



/*------------------------------------------ - - 
----------- - - -  Transition 1 - - - ----------
- - ------------------------------------------*/

#transition1
    {
        background: #121217;
        width: 100%;
        height: 100px;
        position: relative;
        box-shadow: 0px 33px 50px -48px white;
        z-index: 99;
    }


/*------------------------------------------- - - 
----------- - - -  La Biographie - - - ----------
- - -------------------------------------------*/

#bio
    {
        background: #17171a;
        width: 100%;
        position: relative;
    }

    #bioContenair 
        {
            padding-top: 5%;
            padding-bottom: 5%;
        }
        #bioContenair hr
            {
                border: 0.5px solid white;
                width: 10%;
                text-align: center;
                margin: auto;
            }
        #bioContenair h2
            {
                text-align: center;
                font-size: 41px;
                color: white;
                margin-top: 1%;
                font-family: 'robotomedium', sans-serif;
                letter-spacing: 5px;
            }

        #bioPart1
            {
                padding-top: 11%;
                padding-bottom: 3%;
            }
            #bioPart1 h3
                {
                    font-size: 109px;
                    color: white;
                    position: absolute;
                    margin-left: 2%;
                    margin-top: -4%;
                }
            #bioPart1 img
                {
                    background: #121217;
                    width: 100%;
                    z-index: 20;
                    border-radius: 4px;
                    opacity: 0.65;
                    box-shadow: 14px 14px 20px 0px black;
                }
            #bioPart1 p
                {
                    background: #121217;
                    width: 279px;
                    text-align: center;
                    z-index: 99;
                    color: #ecebeb;
                    position: absolute;
                    padding: 1%;
                    margin-top: -3%;
                    margin-left: 46%;
                    border-radius: 4px;
                }

        #bioPart2
            {
                margin-top: 5%;
                padding: 3%;
            }

            #bio2Text
                {
                    background: #121217;
                    padding: 7%;
                    border-radius: 4px;
                }
                #bio2Text h4
                    {
                        font-family: 'robotobold', sans-serif;
                        font-size: 30px;
                        color: #3d92bb;  
                    }
                #bio2Text h6
                    {
                        font-family: 'walkway_oblique_ultraboldRg', sans-serif;
                        font-size: 22px;
                        color: white;
                        margin-left: 5px;
                        letter-spacing: 4px;
                    }
                #bio2Text p
                    {
                        font-family: 'robotoregular', sans-serif;
                        font-size: 16px;
                        color: #c7c7c7;
                        margin-left: 10px;
                        line-height: 22px; 
                    }
            #bio2Img
                {
                    text-align: center;
                }
                #bio2Img img
                    {
                        width: 100%;    
                        border-radius: 4px;
                        box-shadow: 14px 14px 20px 0px black;
                    }
                    @media (max-width: 992px) 
                        {
                            #bio2Img img
                                {
                                    width: 60%;
                                    margin-top: 5%;    
                                } 
                        }

/*------------------------------------------ - - 
----------- - - -  Transition 2 - - - ----------
- - ------------------------------------------*/

#transition2
    {
        background: #121217;
        width: 100%;
        height: 100px;
        position: relative;
        box-shadow: 0px -13px 31px -37px white;
        z-index: 99;
    }

/*------------------------------------------------------------- - - 
----------- - - -  L'Apercu des derniers chapitres - - - ----------
- - -------------------------------------------------------------*/

#apercuChapitres
    {
        background: white;
        width: 100%;
        position: relative;
        padding-bottom: 3%;
    }

    #apercuContenair 
        {
            padding-top: 5%;
            padding-bottom: 5%;
        }

        #apercuContenair hr
            {
                border: 0.5px solid #7d7d7d;
                width: 10%;
                text-align: center;
                margin: auto;
            }
        #apercuContenair h2
                {
                    text-align: center;
                    font-size: 41px;
                    color: #7d7d7d;
                    margin-top: 1%;
                    font-family: 'robotomedium', sans-serif;
                    letter-spacing: 5px;
                }

        #apercuPart1
            {
                padding-top: 5%;
            }
            #apercuPart1 img
                {
                    background: #121217;
                    width: 100%;
                    border-radius: 4px;
                    opacity: 0.85;
                    box-shadow: 14px 14px 20px -18px black;
                }
            

        #apercuPart2
            {
                
            }
            #barreBack
                {
                    margin-top: -6%;
                }
                .previewChap
                    {
                        text-align: center;
                        box-shadow: 14px 14px 20px -18px black;
                        border-radius: 5px;
                        margin-left: 1%;
                        margin-right: 1%;
                        margin-top: 2%;
                        margin-top: 2%;
                        background-color: white;
                        transition: all 0.3s ease-out;
                    }
                    .previewChap:hover
                        {
                            box-shadow: -14px 14px 20px -18px black;
                            background-color: #17171a;
                        }
                        .previewChap:hover h4
                            {
                                color: white;
                            }
                        .previewChap:hover .chapNbr
                            {
                                box-shadow: -6px 6px 13px -11px white;
                            }

                    .chapNbr
                        {
                            background: #3d92bb;
                            width: 50%;
                            margin: auto;
                            padding: 3%;
                            color: white;
                            cursor: pointer;
                            margin-bottom: 5%;
                            margin-top: 5%;
                            border-radius: 5px;
                            box-shadow: 8px 8px 13px -11px black;
                            transition: all 0.3s ease-out;
                        }
                        .chapNbr:hover
                            {
                                background: white;
                                color: #3d92bb;
                            }

                        .previewChap h4
                            {
                                font-family: 'walkway_oblique_blackregular', sans-serif;
                                font-size: 20px;
                                color: #121217;
                                letter-spacing: 2px;
                                transition: all 0.3s ease-out;
                            }
                        .previewChap p
                            {
                                font-family: 'robotoregular', sans-serif;
                                font-size: 16px;
                                color: #c7c7c7;
                            }
                    

/*------------------------------------------- - - 
----------- - - -  Des Tests Php - - - ----------
- - -------------------------------------------*/


#testPhp
    {
        display: none;
    }

/*p
    {
        margin: 15% 15% 9% 8%;
        font-family: 'robotomedium', sans-serif;
        font-size: 20px;
        color: #56575d;
    }

ul
    {
        margin: 3% 30% 2% 15%;
        font-family: 'robotomedium', sans-serif;
        font-size: 20px;
        color: #8998f1;
        list-style: none;
    }
*/


/*----------------------------------------------- - - 
----------- - - -  Le Footer Contact - - - ----------
- - -----------------------------------------------*/

#theEnd
    {
        background-color: black;
    }
    #theEndContenair
        {
            text-align: center;
            padding: 1.3% 1% 1% 1%;
        }
        #theEndContenair p
            {
                font-family: 'robotoregular', sans-serif;
                font-size: 15px;
                color: white; 
            }













/*----------------------------------------------- - - 
-------------- - - -  Intro Image - - - -------------
- - -----------------------------------------------*/

#introImgContenair
    {

    }
    #introImg
        {
            width: 100%;
            margin: 0;
        }
    #introImgContenair h2
        {
            position: absolute;
            top: 33%;
            left: 13%;
            font-size: 50px;
            color: white;
            font-family: 'robotothin_italic', sans-serif;
            letter-spacing: 5px;
        }
    #chapitresSelectorContenair
        {
            background: #3d92bb;
            width: 25%;
            margin: auto;
            margin-top: 5%;
            display: block;
            padding: 0.5%;
            border: 3px solid white;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 14px 14px 20px -18px black;
            transition: all 0.3s ease-out;
        }
        #chapitresSelector
            {
                font-family: 'robotomedium', sans-serif;
                font-size: 17px;
                background: #3d92bb;
                color: white;
                width: 100%;
                display: block;
                padding: 0.5%;
                border: none;
                cursor: pointer;
            }
        #chapitresSelectorContenair .dropdown-menu .show
            {
                top: 3px;
                width: 95%;
            }


#chapitre1
    {
        background: #f1f0ea;
        padding: 7%;
        border-radius: 4px;
        margin: auto;
        box-shadow: 14px 14px 20px 0px black;
        transition: all 0.15s ease-out;
    }
    #chapitre1:hover
        {
            box-shadow: -14px 14px 20px 0px black;
        }

    #chapitre1 h4
        {
            font-family: 'robotobold', sans-serif;
            font-size: 25px;
            color: #3d92bb; 
            text-align: center; 
        }
    #chapitre1 h6
        {
            font-family: 'walkway_oblique_ultraboldRg', sans-serif;
            font-size: 22px;
            color: #6d6565;
            margin-left: 5px;
            letter-spacing: 4px;
            text-align: center; 
        }
    #chapitre1 hr
        {
            border: 0.5px solid darkslategrey;
            width: 20%;
            text-align: center;
            margin: auto;
            margin-top: 3%;
            margin-bottom: 5%;
        }
    #chapitre1 p
        {
            font-family: 'robotoregular', sans-serif;
            font-size: 16px;
            color: #989898;
            margin-top: 3%;
            margin-left: 10px;
            line-height: 22px; 
        }


#lesCommentaires
    {
        background: white;
        width: 100%;
        position: relative;
        padding-bottom: 10%;
    }

    #commentairesContainer 
        {
            padding-top: 5%;
            padding-bottom: 3%;
        }

        #commentairesContainer hr
            {
                border: 0.5px solid #7d7d7d;
                width: 10%;
                text-align: center;
                margin: auto;
            }
        #commentairesContainer h2
            {
                text-align: center;
                font-size: 41px;
                color: #7d7d7d;
                margin-top: 1%;
                font-family: 'robotomedium', sans-serif;
                letter-spacing: 5px;
                margin-bottom: 5%;
            }

        .commentaires 
            {
                background: #17171a;
                margin-top: 5%;
                color: white;
                border-radius: 5px;
                width: 64%;
                margin: auto;
                padding: 2%;
                margin-bottom: 2%;
                box-shadow: 8px 8px 23px -8px black;
                transition: all 0.3s ease-out;
            }
            .commentaires:hover
                {
                    box-shadow: -8px 8px 23px -8px black;
                }
            .commentaires h4
                {
                    font-family: 'robotomedium', sans-serif;
                    font-size: 19px;
                    color: #3d92bb;
                }
            .commentaires h5
                {
                    font-family: 'robotoregular', sans-serif;
                    font-style: italic;
                    font-size: 15px;
                    color: white;
                    text-align: right;
                }
            .commentaires p
                {
                    font-family: 'robotoregular', sans-serif;
                    font-size: 15px;
                    color: #b5b5b5;
                    margin-left: 2%;
                    width: 96%;
                }

    #writeAComment 
        {
            background: #33333e;
            width: 42%;
            margin: auto;
            padding: 1.5% 2% 3% 2%;
            border-radius: 20px;
            box-shadow: 15px 15px 37px -8px black;
            transition: all 0.3s ease-out;
        }
        #writeAComment:hover
            {
                box-shadow: -15px 15px 37px -8px black;
            }
        #writeAComment h4
            {
                font-family: 'robotomedium', sans-serif;
                font-size: 24px;
                color: white;
                text-align: center;
                margin-top: 1%;  
                letter-spacing: 2px;
                margin-bottom: 3%;
                
            }
        #writeAComment form
            {
                
            }
            #writeAComment .commentLabel
                {
                    font-family: 'robotoregular', sans-serif;
                    font-size: 15.5px;
                    color: #c7c7c7;
                    margin-top: 1.5%;
                    margin-bottom: 0.7%;
                }
            #writeAComment input, #writeAComment textarea
                {
                    font-family: 'robotoregular', sans-serif;
                    font-size: 16px;
                    color: #5f5f5f;
                    border-width: 2.5px;
                }
            #writeAComment .feedMessage 
                {
                    font-family: 'robotomedium', sans-serif;
                    font-size: 14px;
                    margin-left: 1.5%;
                }
            #writeAComment #commentFormBtn
                {
                    margin-top: 8%;
                    font-family: 'robotomedium', sans-serif;
                    font-size: 17px;
                    background-color: #3d92bb;
                    border: 3px solid white;
                    border-radius: 5px;
                    transition: all 0.3s ease-out;
                }
                #writeAComment #commentFormBtn:hover
                    {
                        color: #3d92bb;
                        background-color: white;
                        border-color: #3d92bb;
                    }




















