/*------------------------------------------------------------ - - 
------- - - -  Définition des polices personnalisées - - - -------
- - ------------------------------------------------------------*/

@font-face {
    font-family: 'robotoblack';
    src: url('fonts/Roboto-Black-webfont.eot');
    src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Black-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Black-webfont.woff') format('woff'),
         url('fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('fonts/Roboto-BlackItalic-webfont.eot');
    src: url('fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BlackItalic-webfont.woff2') format('woff2'),
         url('fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url('fonts/Roboto-BoldItalic-webfont.eot');
    src: url('fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BoldItalic-webfont.woff2') format('woff2'),
         url('fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Italic-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('Roboto-LightItalic-webfont.eot');
    src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-LightItalic-webfont.woff2') format('woff2'),
         url('Roboto-LightItalic-webfont.woff') format('woff'),
         url('Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/Roboto-Medium-webfont.eot');
    src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Medium-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('fonts/Roboto-MediumItalic-webfont.eot');
    src: url('fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-MediumItalic-webfont.woff2') format('woff2'),
         url('fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('fonts/Roboto-Thin-webfont.eot');
    src: url('fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Thin-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin_italic';
    src: url('fonts/Roboto-ThinItalic-webfont.eot');
    src: url('fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-ThinItalic-webfont.woff2') format('woff2'),
         url('fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ---------------------------------------------------------------------------- */


@font-face {
    font-family: 'walkway_blackregular';
    src: url('fonts/Walkway_Black-webfont.eot');
    src: url('fonts/Walkway_Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway_Black-webfont.woff2') format('woff2'),
         url('fonts/Walkway_Black-webfont.woff') format('woff'),
         url('fonts/Walkway_Black-webfont.ttf') format('truetype'),
         url('fonts/Walkway_Black-webfont.svg#walkway_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_boldregular';
    src: url('fonts/Walkway_Bold-webfont.eot');
    src: url('fonts/Walkway_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway_Bold-webfont.woff2') format('woff2'),
         url('fonts/Walkway_Bold-webfont.woff') format('woff'),
         url('fonts/Walkway_Bold-webfont.ttf') format('truetype'),
         url('fonts/Walkway_Bold-webfont.svg#walkway_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_obliqueregular';
    src: url('fonts/Walkway_Oblique-webfont.eot');
    src: url('fonts/Walkway_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway_Oblique-webfont.woff2') format('woff2'),
         url('fonts/Walkway_Oblique-webfont.woff') format('woff'),
         url('fonts/Walkway_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Walkway_Oblique-webfont.svg#walkway_obliqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_oblique_blackregular';
    src: url('fonts/Walkway_Oblique_Black-webfont.eot');
    src: url('fonts/Walkway_Oblique_Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway_Oblique_Black-webfont.woff2') format('woff2'),
         url('fonts/Walkway_Oblique_Black-webfont.woff') format('woff'),
         url('fonts/Walkway_Oblique_Black-webfont.ttf') format('truetype'),
         url('fonts/Walkway_Oblique_Black-webfont.svg#walkway_oblique_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_oblique_boldregular';
    src: url('fonts/Walkway_Oblique_Bold-webfont.eot');
    src: url('fonts/Walkway_Oblique_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway_Oblique_Bold-webfont.woff2') format('woff2'),
         url('fonts/Walkway_Oblique_Bold-webfont.woff') format('woff'),
         url('fonts/Walkway_Oblique_Bold-webfont.ttf') format('truetype'),
         url('fonts/Walkway_Oblique_Bold-webfont.svg#walkway_oblique_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_oblique_semiboldRg';
    src: url('fonts/Walkway_Oblique_SemiBold-webfont.eot');
    src: url('fonts/Walkway_Oblique_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway_Oblique_SemiBold-webfont.woff2') format('woff2'),
         url('fonts/Walkway_Oblique_SemiBold-webfont.woff') format('woff'),
         url('fonts/Walkway_Oblique_SemiBold-webfont.ttf') format('truetype'),
         url('fonts/Walkway_Oblique_SemiBold-webfont.svg#walkway_oblique_semiboldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_oblique_ultraboldRg';
    src: url('fonts/Walkway_Oblique_UltraBold-webfont.eot');
    src: url('fonts/Walkway_Oblique_UltraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway_Oblique_UltraBold-webfont.woff2') format('woff2'),
         url('fonts/Walkway_Oblique_UltraBold-webfont.woff') format('woff'),
         url('fonts/Walkway_Oblique_UltraBold-webfont.ttf') format('truetype'),
         url('fonts/Walkway_Oblique_UltraBold-webfont.svg#walkway_oblique_ultraboldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_semiboldregular';
    src: url('fonts/Walkway_SemiBold-webfont.eot');
    src: url('fonts/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway_SemiBold-webfont.woff2') format('woff2'),
         url('fonts/Walkway_SemiBold-webfont.woff') format('woff'),
         url('fonts/Walkway_SemiBold-webfont.ttf') format('truetype'),
         url('fonts/Walkway_SemiBold-webfont.svg#walkway_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkway_ultraboldregular';
    src: url('fonts/Walkway_UltraBold-webfont.eot');
    src: url('fonts/Walkway_UltraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway_UltraBold-webfont.woff2') format('woff2'),
         url('fonts/Walkway_UltraBold-webfont.woff') format('woff'),
         url('fonts/Walkway_UltraBold-webfont.ttf') format('truetype'),
         url('fonts/Walkway_UltraBold-webfont.svg#walkway_ultraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





















