


/*--------------- - - -  Début du code CSS - - - ---------------*/




* /* Sélectionne tous les éléments de la page */
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
}



.mce-container textarea{display:inline-block!important}
.mce-content-body{font-family: 'robotoregular', sans-serif;font-size:14px;color:#626262;padding:0 25px 25px}
.mce-content-body *{background-position:initial}
.mce-content-body h1{font-size:34px;font-family: 'robotoregular', sans-serif;font-weight:200;line-height:1.4em;margin:25px 0 15px}
.mce-content-body h2{font-size:30px;font-family: 'robotoregular', sans-serif;font-weight:200;line-height:1.4em;margin:25px 0 15px}
.mce-content-body h3{font-size:26px;font-family: 'robotoregular', sans-serif;font-weight:200;line-height:1.4em;margin:25px 0 15px}
.mce-content-body h4{font-size:22px;font-family: 'robotoregular', sans-serif;font-weight:200;line-height:1.4em;margin:25px 0 15px}
.mce-content-body h5{font-size:18px;font-family: 'robotoregular', sans-serif;font-weight:200;line-height:1.4em;margin:25px 0 15px}
.mce-content-body h6{font-size:14px;font-family: 'robotoregular', sans-serif;font-weight:200;line-height:1.4em;margin:25px 0 15px}
.mce-content-body p{margin:25px 0}